.home-Container {
    height: 100vh;
    width: 100%;
    padding: 20px 10%;
    background: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-my-name {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-size: 18px;

    span {
        color: #4BBEAC;
    }
}

.home-my-name h1 {
    animation: aumenta 5s infinite;
}

@keyframes aumenta {
    0%{transform: scale(0.7);}
    100%{transform: scale(1.2);}
}


.home-my-name h3 {
    position: relative;
    font-size: 20px;
}

.home-my-name h3::before {
    content: "";
    color: #fff;
}

.home-my-name h3::after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid #fff;
    right: -5px;

    opacity: 1;
    animation: cursor 0.7s infinite, digita 20s steps(15) infinite;
    width: calc(100% + 7px);
    background-color: #191919;
}
    
.home-img img {
    width: 100%;
    border-radius: 65px;
    padding: 50px;
}

@keyframes digita {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%  {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 7px);
    }
}

@keyframes cursor {
    0%{
        border-left: 2px solid #191919;
    }
}

@media (max-width: 768px) {
    .home-Container {
        flex-direction: column;
        align-items: center;
    }
    .home-my-name {
        padding: 10px;
        height: 300px;
    }

    .home-img img {
        padding: 10px;
        border-radius: 25px;
    }
}