.home-Container {
    height: 100vh;
    width: 100%;
    padding: 20px 10%;
    background: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-my-name {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;

    span {
        color: #4BBEAC;
    }
}
    
.home-img img {
    width: 100%;
    border-radius: 65px;
    padding: 50px;
}

@media (max-width: 768px) {
    .home-Container {
        flex-direction: column;
        align-items: center;
    }
    .home-my-name {
        padding: 10px;
        height: 300px;
    }

    .home-img img {
        padding: 10px;
        border-radius: 25px;
    }
}