@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  color: #fff;
}

body {
  background-color: #191919;
  min-height: 100vh;
}

a {
  text-decoration: none;
}